## Task 1

1. **Database Creation**

In [26]:
import sqlite3

roster_conn = sqlite3.connect('roster.db')
roster_cursor = roster_conn.cursor()

# Define a table "Roster" with specified schema
roster_cursor.execute('''
CREATE TABLE Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
)
''')

2. **Insert Data**

In [27]:
# Populate the Roster table with the specified entries.
roster_cursor.executemany('''
INSERT INTO Roster (Name, Species, Age) VALUES (?, ?, ?)
''', [
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29)
])

3. **Update Data**

In [28]:
# Update the Name of Jadzia Dax to Ezri Dax.
roster_cursor.execute('''
UPDATE Roster SET Name = 'Ezri Dax' WHERE Name = 'Jadzia Dax'
''')

4. **Query Data**

In [29]:
# Retrieve and display the Name and Age of all characters where the Species is Bajoran.
roster_cursor.execute('''
SELECT Name, Age FROM Roster WHERE Species = 'Bajoran'
''')
bajoran_characters = roster_cursor.fetchall()

5. **Delete Data**

In [30]:
# Remove all characters aged over 100 years from the table.
roster_cursor.execute('''
DELETE FROM Roster WHERE Age > 100
''')

6. **Bonus Task**

In [31]:
# Add a new column called Rank to the Roster table.
roster_cursor.execute('''
ALTER TABLE Roster ADD COLUMN Rank TEXT
''')

# Update the data with specified Rank values.
roster_cursor.executemany('''
UPDATE Roster SET Rank = ? WHERE Name = ?
''', [
    ('Captain', 'Benjamin Sisko'),
    ('Lieutenant', 'Ezri Dax'),
    ('Major', 'Kira Nerys')
])

7. **Advanced Query**

In [32]:
# Retrieve all characters sorted by their Age in descending order.
roster_cursor.execute('''
SELECT * FROM Roster ORDER BY Age DESC
''')
sorted_characters = roster_cursor.fetchall()

In [33]:
# Commit changes and close the connection.
roster_conn.commit()
roster_conn.close()

# Print results
print("Bajoran Characters:", bajoran_characters)
print("Characters Sorted by Age:", sorted_characters)

Bajoran Characters: [('Kira Nerys', 29)]
Characters Sorted by Age: [('Benjamin Sisko', 'Human', 40, 'Captain'), ('Kira Nerys', 'Bajoran', 29, 'Major')]