### Task 2

1. **Database Creation**

In [3]:
import sqlite3

# Create a new SQLite database named `library.db`.
library_conn = sqlite3.connect('library.db')
library_cursor = library_conn.cursor()

# Define a table called Books with specified schema.
library_cursor.execute('''
CREATE TABLE Books (
    Title TEXT,
    Author TEXT,
    Year_Published INTEGER,
    Genre TEXT
)
''')

2. **Insert Data**

In [4]:
# Populate the Books table with the specified entries.
library_cursor.executemany('''
INSERT INTO Books (Title, Author, Year_Published, Genre) VALUES (?, ?, ?, ?)
''', [
    ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction'),
    ('1984', 'George Orwell', 1949, 'Dystopian'),
    ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Classic')
])

3. **Update Data**

In [5]:
# Update the Year_Published of 1984 to 1950.
library_cursor.execute('''
UPDATE Books SET Year_Published = 1950 WHERE Title = '1984'
''')

4. **Query Data**

In [6]:
# Retrieve and display the Title and Author of all books where the Genre is Dystopian.
library_cursor.execute('''
SELECT Title, Author FROM Books WHERE Genre = 'Dystopian'
''')
dystopian_books = library_cursor.fetchall()

5. **Delete Data**

In [7]:
# Remove all books published before the year 1950 from the table.
library_cursor.execute('''
DELETE FROM Books WHERE Year_Published < 1950
''')

6. **Bonus Task**

In [8]:
# Add a new column called Rating to the Books table.
library_cursor.execute('''
ALTER TABLE Books ADD COLUMN Rating REAL
''')

# Update the data with specified Rating values.
library_cursor.executemany('''
UPDATE Books SET Rating = ? WHERE Title = ?
''', [
    (4.8, 'To Kill a Mockingbird'),
    (4.7, '1984'),
    (4.5, 'The Great Gatsby')
])

7. **Advanced Query**

In [9]:
# Retrieve all books sorted by their Year_Published in ascending order.
library_cursor.execute('''
SELECT * FROM Books ORDER BY Year_Published ASC
''')
sorted_books = library_cursor.fetchall()

# Commit changes and close the connection.
library_conn.commit()
library_conn.close()

In [10]:
# Print results
print("Dystopian Books:", dystopian_books)
print("Books Sorted by Year Published:", sorted_books)

Dystopian Books: [('1984', 'George Orwell')]
Books Sorted by Year Published: [('1984', 'George Orwell', 1950, 'Dystopian', 4.7), ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction', 4.8)]